<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Services</title>
</head>
<body>
    <h1>Add Services</h1>
    <form th:action="@{/ServiceProvider/addServiceItem}" th:object="${SearchService}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{providerName}" required />
        
        
        <label for="price">Price:</label>
        <input type="double" id="price" th:field="*{price}" required />
        
        <label for="status">Status:</label>
        <input type="text" id="status" th:field="*{status}" required />
		
		<label for="skill">Skill:</label>
		<input type="text" id="skill" th:field="*{skill}" required />

		<label for="category">Category:</label>
		<input type="text" id="category" th:field="*{category}" required />
		
		<label for="rating">Rating:</label>
		<input type="text" id="rating" th:field="*{rating}" required />
        
        <button type="submit">Add Service</button>
    </form>
</body>
</html>