<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Services</title>
</head>
<body>

<h2>Available Services</h2>

<!-- Table to display services -->
<table border="1">
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            
        </tr>
    </thead>
    <tbody>
        <!-- Iterate over each service in the services list dynamically -->
        <tr th:each="SearchService : ${SearchService}">
         
            <td th:text="${SearchService.name}"></td>
            <td th:text="${SearchService.description}"></td>
            <td th:text="${SearchService.price}"></td>
            
            <td>
                <!-- Delete button with service ID dynamically passed -->
                <form th:action="@{/serviceProvider/deleteService/{name}(name=${SearchService.name})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
