<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Services</title>
</head>
<body>

<h2>Available Services</h2>

<!-- Table to display services -->
<table border="1">
    <thead>
        <tr>
            
            <th>Service Provider Name</th>
            <th>Category</th>
            <th>Price</th>
			<th>Rating</th>
            
        </tr>
    </thead>
    <tbody>
        <!-- Iterate over each service in the services list dynamically -->
        <tr th:each="SearchService : ${SearchService}">
         
            <td th:text="${SearchService.providerName}"></td>
            <td th:text="${SearchService.category}"></td>
            <td th:text="${SearchService.price}"></td>
			<td th:text="${SearchService.rating}"></td>
            
            <td>
				
				<form th:action="@{/ServiceProvider/ModifyService/{providerName}/{serviceId}(providerName=${SearchService.providerName},  serviceId=${SearchService.serviceId})}" method="post">
				       <button type="submit">Modify Service</button>
				</form>
				
                <!-- Delete button with service ID dynamically passed -->
				<form th:action="@{/ServiceProvider/DeleteService/{providerName}/{serviceId}(providerName=${SearchService.providerName}, serviceId=${SearchService.serviceId})}" method="post">
				    <button type="submit">Delete Service</button>
				</form>

				
				
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
