<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service Provider Login</title>
</head>
<body>
<h1>Login as a ServiceProvider</h1>
<form th:action="@{/ServiceProvider/loginsucess}" th:object="${ServiceProvider}" method="post">

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required />

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required />

    <button type="submit">Login</button>
</form>
</body>
</html>