<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome Service provider</title>
</head>
<body>
    <h1>Welcome Service provider</h1>
    <form >
		<div>
		        <button type="submit" th:formaction="@{/ServiceProvider/addServiceForm}" method="get">Add Service</button>
		        <button type="submit" th:formaction="@{/ServiceProvider/newForm}" method="post">New Service</button>
		        <button type="submit" th:formaction="@{/ServiceProvider/ListServices}" formmethod="get">List Service</button>
		        <button type="submit" th:formaction="@{/viewForm}" formmethod="get">View Service</button>
		    </div>
    </form>
</body>
</html>